.navbar-container {
    margin: 0 auto;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
}

.navbar {
    max-width: 90%;
    height: 5rem;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, 0.5);
}

.navbar-logo {
    font-family: 'Rubik Doodle Shadow', cursive;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.navbar-menu .menu-item:hover {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid #FF4820;
}

.navbar-menu-btn {
    color: black;
    background: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
    border: none;
}

.navbar-menu-btn:hover {
    transform: scale(1.1);
}

.navbar-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    opacity: 0;
    background-color: rgb(0, 0, 0, 0.9);
    font-size: 1.8rem;
}

@media screen and (max-width: 840px) {
    .navbar-menu {
        display: none;
    }

    .navbar-btn {
        display: block;
        opacity: 1;
        color: white;
    }

    .navbar-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgb(0, 0, 0, 0.9);
        flex-direction: column;
        transform: translateY(-100vh);
        transition: transform 0.1s ease-in-out;
    }

   .navbar-responsive {
        transform: none;
    }

    .navbar-close-btn {
        position: absolute;
        top: 1rem;
        right: 1.6rem;
    }

    .navbar-menu a {
        font-size: 2rem;
    }
}

