* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient_bg {
  background: linear-gradient(90deg, hsla(219, 74%, 6%, 1) 0%, hsla(220, 69%, 8%, 1) 7%, hsla(221, 66%, 9%, 1) 14%, hsla(221, 64%, 11%, 1) 21%, hsla(221, 61%, 13%, 1) 39%, hsla(219, 59%, 24%, 1) 100%); 
}